<launch>
    <!--arg name="model" default="$(env DIFFBOT_MODEL)" doc="model type [diffbot, remo]"/-->
    <arg name="model" default="diffbot" doc="model type [diffbot, remo]"/>

    <arg name="rvizconfig" default="$(find diffbot_control)/rviz/diffbot.rviz" />
    <arg name="world_name" default="$(find diffbot_gazebo)/worlds/diffbot_empty.world"/>

    <include file="$(find diffbot_gazebo)/launch/diffbot_view.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <include file="$(find diffbot_slam)/launch/diffbot_slam.launch">
        <arg name="slam_method" value="gmapping"/>
    </include>

    <include file="$(find diffbot_control)/launch/diffbot_control.launch">
        <arg name="model" value="$(arg model)" />
    </include>

</launch>